html {
    font-family: Roboto, sans-serif;
    /*Hero and Footer*/
    --dark-bg: #1F2937; 
    --light-blue:#3882F6;
    --text-light:#F9FAF8;
    --light-grey: #E5E7EB;
}

body{
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--dark-bg);
    display: flex;
    justify-content: space-between;
}
main {
    flex:1;
}



